<header>
<nav>
    <ul>
        <img src="dumbell.png" alt="dumbell">
        <li><a href="/">Home</a></li>
        <li><a href="/exercises">My Exercises</a></li>
        <li><a href="/add-exercise">Add A New Exercise</a></li>
        <img src="dumbell.png" alt="dumbell">
    </ul>
</nav>
</header>