<nav>
    <div class="site-title">
        <a href="/"><h1>The New Fitness Baby</h1></a>
        <p>a fit baby was birthed in this site</p>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Exercises</a></li>
        <li><a href="#">New Exercise</a></li>
    </ul>
</nav>