<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section>
            <h1>Exercise Sucessfully Added!</h1>
            <a href="/exercises">Back to all my exercises</a>
        </section>

        <section>
            
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>