<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section>
            <h2>My Exercises</h2>

            <h3>Stretching:</h3>

            <ul>
                <li>Hamstring stretch lying down</li>
                <li>Lumbar flexion sitting</li>
                <li>Pec stretch on wall</li>
                <li>Kneeling hip flexor stretch</li>
                <li>Neck stretches</li>
            </ul>
        </section>

        <section>
            <h3>Strengthening:</h3>

            <ul>
                <li>Lower traps and rhomboids -- Prone Y and T</li>
                <li>Mountain climbers</li>
                <li>Deadbug style abs</li>
                <li>Glute Bridges</li>
                <li>V-sit hold</li>
                <li></li>
            </ul>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>