.container {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
/*   grid-template-rows: repeat(3, minmax(200px, auto)); */
  grid-gap; 40px;
}
.container section, .container article, .container aside {
/*     grid-area: span 1 / span 2; */
}
.container section.banner {
  grid-column: span 12;
  align-self: center;
  justify-self: center;
}
.container section.join {
  grid-column: span 12;
}
.container article {
  grid-column: 6 /11
}
.container aside {
  padding: 20px;
  grid-row: 2 / 5;
  grid-column: 2 / 3
}
img {
  max-width: 200px;
}
nav {
  background-color: #ec49ba;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}
a {
  text-decoration: none;
}
nav a {
  color: #efe7e7;
}
nav li {
  list-style: none;
}
nav img {
  height: 50px;
  padding: 5px;
}
body, ul{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section.banner h1{
    font-size: 28px;
    font-family: 'Frijole', cursive;
    margin: 8px;
}
section.banner p{
  padding: 40px;
    font-size: 18px;
    font-family: 'Frijole', cursive;
    margin: 8px;
}
section.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
section.join form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
    
}
footer {
    background: #ec49ba;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a:hover{
    text-decoration: underline;
}
aside img:hover{
    position:relative;
    top: -4px;
}
::selection{
    background: pink;
    color: white;
}
